


.board {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    background-color: teal;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1 fr 100px 1fr;
}



#topleft {
    background-color:green;
    border: 1px solid black;
    padding: 20px;
}

#topright {
    background: red;
    border: 1px solid black;
    padding: 20px;
}
#bottomleft {
    background: yellow;
    border: 1px solid black;
    padding: 20px;    
}
#bottomright {
    background: blue;
    border: 1px solid black;
    padding: 20px;
}